html,body{
    height:100%;
	width:100%;
	position:fixed;
	width: 100vw;
	height:100vh;
	align-content:center;
	
}

header h1{
	padding-top:20px;
	text-align:center;
}

header h2{
	margin:0px;
	color:#ff0000;
	text-align:center;
	padding-bottom:30px;
}

.frame{
	
	padding:10px 0px;
	top:100px;
	margin:auto;
	max-width:24vw;
	border:1px transparent #fff;
	background-color: #ADD8E6;
	border-radius:20px;
	display:flex;
	flex-direction:column;
	align-items:center;
	

}


.frame input{
	border-radius:10px;
	border:1px solid #ffff;
    padding:10px;
	margin:10px 10px;
}

.btn{
	align-items:center;
	padding:15px;
	margin:5px 2px;
	font-size:15px;
	border:1px solid #ffff;
	border-radius:100px;
	cursor:pointer;
}

.btn:hover{
	border:1px solid #0000ff;
	color:#0000ff;
}

@media screen and (max-width: 768px) {
 
  .frame {
    max-width: 90vw;
  }
  
  .frame input {
    width: 80%;
  }
  
  .btn {
    font-size: 1rem;
  }
}
